{% extends "base.html" %}
{% block content%}
<div class="container">
  <div class="jumbotron">
    <body>
    {% for error in form.non_field_errors %}
    <p style="color: red">
    {{ error }}
    </p>
    {% endfor %}

      <h3 class="form-signin-heading">Register for an account!</h3>

    <form method="post" action="{% url 'register' %}">
    <table>
    {% for field in form.visible_fields %}
    <tr>
      <td>{{field.label_tag}}</td>
      <td>{{field}}</td>
      <td style="color: red">{{field.errors}}</td>
    </tr>
    {% endfor %}
    </table>
    {% for field in form.hidden_fields %}
    {{field}}
    {% endfor %}
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Register" />
    </form>
  </div>
</div>
{% endblock %}

